header.header
    .container
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/") 
                        img(src="/img/logo.svg", alt="logo")
            .col-5 
                form(
                    id="search-form"
                    method="GET" 
                    action="/search"
                )
                    div(class="form-group d-flex mb-0")
                        .input-group.mb-3
                            input(
                                type="text" class="form-control" placeholder="Nhập từ khóa" name="keyword" value=keyword
                            )
                            button(
                                type="submit" class="btn btn-primary"
                            ) Tìm kiếm
            .col-4 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu") 
                            a(href="/product") Sản phẩm 