mixin getCategories(subTitleObject, key, subTitleObjects, level, categoryId="") 
    //- Check if subTtileObject not undefined
    if(subTitleObject)
        //- Create "--" for each level
        - let prefix = Array(level).join('-- ')
        option(value=subTitleObject[0]._id selected=categoryId==subTitleObject[0]._id ) #{prefix}#{key}
        if (subTitleObject.length > 1)
            each val, index in subTitleObject
                if (index > 0)
                    +getCategories(subTitleObjects[val.title] || [val], val.title, subTitleObjects, level + 1, categoryId)
            #{subTitleObjects[key] = null}