mixin sort-target-category(typeSort)
    div(class="sort")
        select(
            name="sort"
            id="sort"
        )   
            option(value="default" selected=typeSort==undefind) Mặc định
            option(value="title-asc" selected=typeSort=="title-asc") Tiêu đề A - Z 
            option(value="title-desc" selected=typeSort=="title-desc") Tiêu đề Z - A