extends ../../layouts/default.pug 

block main 
    h1(class="mb-4") Thêm mới tài khoản

    //- form create account
    form(
        action=`/${prefixAdmin}/accounts/edit/${account._id}?_method=PATCH`
        method='POST'
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="fullName") Họ tên
            input(
                type="text",
                class="form-control",
                id="fullName",
                name="fullName",
                value=account.fullName
            )

        div(class="form-group")
            label(for="email") Email
            input(
                name="email"
                id="email"
                class="form-control"
                type="email"
                value=account.email
            )

        div(class="form-group")
            label(for="password") Mật khẩu
            input(
                type="password"
                class="form-control"
                id="password"
                name="password" 
                value=account.password
            )

        div(class="form-group")
            label(for="phone") Số điện thoại
            input(
                type="text"
                id="phone"
                name="phone"
                class="form-control" 
                value=account.phone
            )
        
        //- Loop through roles
        div(class="form-group")
            select(
                name="roleId"
                id="roleId"
                class="form-control"
            )
                option(
                    value=""
                    checked= account.roleId == "" ? true: false
                ) Chọn quyền
                each role in roles
                    option(
                        value=role._id
                        selected= role._id == account.roleId ? true: false
                    ) #{role.title}

        div(
            class="form-group form-check form-check-inline"
        )
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked= account.status == "active" ? true: false
            )
            label(
                for="statusActive"
                class="form-check-label"
            ) Hoạt động

        div(
            class="form-group form-check form-check-inline"
        )
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value ="inactive"
                checked= account.status == "inactive" ? true: false
            )
            label(
                for="statusInActive"
                class="form-check-label"
            ) Dừng hoạt động
        
        div(
            class="form-group upload-image"
        )
            label(for="avatar") Avartar 
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
            )
            img(
                src= account.avatar
                alt="Your Image"
                class="preview-img"
                width="100px"
                height="auto"
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật tài khoản
