extend ../../layouts/default.pug
block main 
    .container.my-3 
        .row 
            .col-12 
                if(product.title)
                    h1 #{product.title}
                
                if(category)
                    div(class="mb-4") Danh mục sản phẩm: #{category.title}

                if(product.price)
                    div(class="mb-4") Giá: #{product.price}

                if(product.discountPercentage)
                    div(class="mb-4") Giảm giá: #{product.discountPercentage}%

                if(product.stock)
                    div(class="mb-4") Số lượng: #{product.stock}

                if(product.thumbnail)
                    div(class="mb-4")
                        img(
                            src=product.thumbnail, 
                            alt=product.title, 
                            class="img-fluid"
                        )
                if(product.description)
                    div(class="mb-4") Mô tả: !{product.description}
