extends ../../layouts/default.pug 

block main 
    if(role.permissions.groupRole && role.permissions.groupRole.includes('edit'))
        h1(class="mb-4") Thêm mới nhóm quyền

        //- form create role
        form(
            action=`/${prefixAdmin}/roles/edit/${roleEdit._id}?_method=PATCH`
            id='form-create-product'
            method='POST'
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value=roleEdit.title            )
                span(class="error-message")
            
            div(class="form-group")
                label(for="desc") Mô tả
                input(
                    type="text"
                    class="form-control"
                    id="desc"
                    name="desc"
                    value=roleEdit.description
                )
                span(class="error-message")
            
            button(
                type="submit"
                class="btn btn-primary"
                button-create-product
            ) Cập nhật 
    else  
        h1(class="mb-4") Bạn không có quyền chỉnh sửa nhóm quyền
        a(href="/admin/roles") Quay lại trang nhóm quyền
 
        