extend ../../layouts/default.pug

//- fillter status block
include ../../mixin/fillter-status.pug

//- search block
include ../../mixin/search.pug

//- pagination Page
include ../../mixin/pagination.pug

//- form change status
include ../../mixin/form-change-multi.pug


block main 
    h1 Danh sách sản phẩm

    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row
                .col-6 
                    +fillter-status(fillterStatus)
                .col-6
                    +search(searchFind)

    .card.mb-3
        .card-header Danh sách
        .card-body 
            //- form change status
            +form-change-multi(`/${prefixAdmin}/products/change-multi?_method=PATCH`)

            //- table products
            table.table.table-hover.table-sm 
                thead 
                    tr 
                        th 
                            input(
                                type="checkbox"
                                name="check-all"
                            )
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Trạng thái
                        th Hành động
                tbody
                    each item, index in products
                        tr 
                            th 
                                input(
                                    type="checkbox"
                                    name="id"
                                    value=item.id
                                )
                            td #{index + 1}
                            td 
                                img(src=item.thumbnail, alt="" width="100px" height="auto")
                            td #{item.title}
                            td #{item.price}
                            td
                                if (item.availabilityStatus == 'No Stock')
                                    a(
                                        href="javascript:;"
                                        data-status="inactive"
                                        data-id=`${item._id}` 
                                        button-change-status
                                        class="btn btn-danger"
                                    ) Dừng hoạt động
                                else 
                                    a(
                                        href="javascript:;"
                                        data-status="active"
                                        data-id=`${item._id}`
                                        button-change-status
                                        class="btn btn-success"
                                    ) Hoạt động
                            td
                                button(class="btn btn-warning btn-sm") Sửa
                                button(
                                    class="btn btn-danger btn-sm ml-1"
                                    data-id=item._id
                                    button-delete
                                ) Xóa
    +paginationPages(paginations)

    //- form change status
    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`/${prefixAdmin}/products/change-status`
        class = "d-none"
    )

    //- form delete
    form(
        action=""
        method="POST"
        id="form-delete-product"
        data-path=`/${prefixAdmin}/products/delete`
        class = "d-none"
    )

    script(src="/admin/js/product.js")