.sider
    .inner-menu 
        ul 
            li 
                a(href=`/${prefixAdmin}/dashboard`) Bảng điều khiển
            li
                a(href=`/${prefixAdmin}/products`) Danh sách sản phẩm
            li
                a(href=`/${prefixAdmin}/categories`) Danh mục sản phẩm
            li 
                a(href=`/${prefixAdmin}/roles`) Nhóm quyền
            li 
                a(href=`/${prefixAdmin}/roles/authorization`) Phân quyền
            li 
                a(href=`/${prefixAdmin}/accounts`) Danh sách tài khoản